    <div class="modal-container">
        <div class="modal-header">
          <i class="far fa-times modal-close-btn"></i>
          <h2>About</h2>
        </div>
        <div class="modal-body">
          <h3>What is the NextGen Event Tracker?</h3>
          <p>Thanks for checking out our app! This app is designed to show natural events that have occurred
            around the world with only a couple of clicks. Additionally, with the ability to create a user profile, you can also submit events, thereby contributing to citizen science!</p>

          <p>This app was deisgned and developed by a small team of four who share a love for maps and data. We hope you
            enjoy it!
          </p>

          <p>&#127759; &#128512; &#128591; </p>

          <h3>Github Repo</h3>
          <a href="https://github.com/n-r-martin/NextGen-event-tracker" target="_blank">&#128073; &nbsp; Here</a>
        </div>
      </div>