   <div class="modal-container">
        <div class="modal-header">
          <i class="far fa-times modal-close-btn"></i>
          <h2>Help</h2>
        </div>
        <div class="modal-body">
          <h3>How to find a specific location?</h3>
          {{!-- <img class='modal-img' src="assets/img/search-demo.gif" alt=""> --}}
          <p>In the top left corner, you'll find a search bar that can be used to search for any city in the world.</p>

          <h3>How to look for specific events in a timeframe?</h3>
          {{!-- <img class='modal-img' src="assets/img/menu-demo.gif" alt=""> --}}
          <p>In the upper right hand corner, you'll find a menu button that will allow you to adjust the events you
            would like to see appear on the map, as well as the timeframe that those events occured in.</p>
        </div>
      </div>