<form class="pure-form pure-form-stacked login-form">
    <div class="user-form-header">
          <i class="far fa-times modal-close-btn"></i>
          <h3>Login</h3>
    </div>
    <fieldset class="user-form-fieldset">
        <label for="stacked-email-login">Email</label>
        <input type="email" id="stacked-email-login" class="email-login" placeholder="Email" />
        <label for="stacked-password-login">Password</label>
        <input type="password" id="stacked-password-login" class="password-login" placeholder="Password">
        <button type="submit" class="pure-button pure-button-primary login-button">Log In</button>
        <span class="pure-form-message">No Account? <a href="">Sign Up</a></span>
    </fieldset>
</form>