<form class="pure-form pure-form-stacked login-form">
    <div class="user-form-header">
          <i class="far fa-times modal-close-btn"></i>
          <h3>Login</h3>
    </div>
    <fieldset class="user-form-fieldset">
        <label for="stacked-email-login">Email</label>
        <input type="email" id="stacked-email-login" class="email-login" placeholder="Email" />
        <label for="stacked-password-login">Password</label>
        <input type="password" id="stacked-password-login" class="password-login" placeholder="Password">
        <button type="submit" class="pure-button pure-button-primary login-button">Log In</button>
        <span class="pure-form-message">No Account? <a id='sign-up-form-link' href="#">Sign Up</a></span>
    </fieldset>
</form>


 <form class="pure-form pure-form-stacked signup-form">
    <div class="user-form-header">
        <i class="far fa-times modal-close-btn"></i>
        <h3>Sign Up</h3>
    </div>
    <fieldset class="user-form-fieldset">
        <label for="stacked-name">Name</label>
        <input class="form-input" type="text" id="stacked-name" class="pure-u-md-1-6 name-signup" />
        <label for="stacked-email-signup">Email</label>
        <input type="email" id="stacked-email-signup" class="pure-u-md-1-6 email-signup" placeholder="Email" />
        <label for="stacked-password-signup">Password</label>
        <input type="password" id="stacked-password-signup" class="pure-u-md-1-6 password-signup"
                placeholder="Password" />

        <button type="submit" class="pure-button pure-button-primary pure-u-1-6 signup-button">Sign Up</button>
        <span class="pure-form-message">Have an account? <a id='login-form-link' href="#">Log In</a></span>
    </fieldset>
</form>