<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mapped Event Tracker</title>

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>

  <!-- Leaflet CSS/JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <script src="https://kit.fontawesome.com/a7ad110892.js" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;800&display=swap" rel="stylesheet" />

  <!-- Normalize & Pure CSS Libraries -->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css" />
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
    integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous" />

  <!-- Local CSS -->
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <main class="overlay">
    {{{body}}}
  </main>

  <!-- Modals -->
  <section class="modal hidden" id='about-modal'>
    <div class="modal-background">
      {{> about-modal}}
    </div>
  </section>

  <section class="modal hidden" id='help-modal'>
    <div class="modal-background">
      {{> help-modal}}
    </div>
  </section>

 <section class="modal hidden" id='new-event-modal'>
      <div class="modal-background">
        {{> submit-new-event}}
      </div>
    </section>

  <script src="/js/script.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/logout.js"></script>
</body>

</html>