{{!-- <form class="pure-form pure-form-stacked login-form">
    <fieldset>
        <p class="form-title" >Log In</p>
        <label for="stacked-email">Email</label>
        <input type="email" id="stacked-email" class="pure-u-md-1-6 email-login" placeholder="Email" />
        <label for="stacked-password">Password</label>
        <input type="password" id="stacked-password" class="pure-u-md-1-6 password-login" placeholder="Password" />
        
        <label for="stacked-remember" class="pure-checkbox">
            <input type="checkbox" id="stacked-remember" /> Remember me
        </label>
        <button type="submit" class="pure-button pure-button-primary pure-u-1-6 login-button">Log In</button>
        <span class="pure-form-message">No Account? <a href="">Sign Up</a></span>
    </fieldset>
</form>

<form class="pure-form pure-form-stacked signup-form">
    <fieldset>
        <p class="form-title" >Sign Up</p>
        <label for="stacked-name">Name</label>
        <input class="form-input" type="text" id="stacked-name" class="pure-u-md-1-6 name-signup" />
        <label for="stacked-email">Email</label>
        <input type="email" id="stacked-email" class="pure-u-md-1-6 email-signup" placeholder="Email" />
        <label for="stacked-password">Password</label>
        <input type="password" id="stacked-password" class="pure-u-md-1-6 password-signup" placeholder="Password" />
        
        <label for="stacked-remember" class="pure-checkbox">
            <input type="checkbox" id="stacked-remember" /> Remember me
        </label>
        <button type="submit" class="pure-button pure-button-primary pure-u-1-6 signup-button">Sign Up</button>
        <span class="pure-form-message">Have an account? <a href="">Log In</a></span>
    </fieldset>
</form> --}}