    {{!-- <form class='new-event-form'>
      <label for='event_name'>
        Event Name:
      </label>
      <br/>
      <textarea id='event_name' name='event_name' rows='2' cols='30'>
      </textarea>
      <br/>
      <label for="event-type"></label>
      <br/>
      <input list="event-type">
      <datalist id="event-type">
        <option value="Wildfires">
        <option value="Severe Storms">
        <option value="Volcanoes">
        <option value="Icebergs">
        <option value="Earthquakes">
        <option value="Drought">
        <option value="Dust Haze">
        <option value="Floods">
        <option value="Landslides">
        <option value="Manmade">
        <option value="Snow">
        <option value="Temp. Extremes">
        <option value="Water Color">
      </datalist>
      <br/>
      <label for='description'>
        Description:
      </label>
      <br/>
      <textarea id='description' name='description' rows='5' cols='30'>
      </textarea>
      <br/>
      <label for="event-date">Event date:</label>
      <br/>
      <input type="date" id="event-date" name="event-date">


      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form> --}}