/* apply a natural box layout model to all elements, but allowing components to change */
html, * {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sarabun', sans-serif;
}

main {
  height: 100vh;
}

header{
  height: 7.5vh;
  width: 100%;
  background: #333;
  border-bottom: 1px solid #fff;
  box-shadow:
  3.4px 3.4px 2.7px rgba(0, 0, 0, 0.022),
  8.7px 8.7px 6.9px rgba(0, 0, 0, 0.031),
  17.7px 17.7px 14.2px rgba(0, 0, 0, 0.039),
  36.5px 36.5px 29.2px rgba(0, 0, 0, 0.048),
  100px 100px 80px rgba(0, 0, 0, 0.07);
  color: #fff;
  position: relative;
}


div#title-content {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#title-content i {
  font-size: 1.5em;
  color: orange;
}

i:not(.fa-map-marker-question, .fa-bars) {
  margin-right: .5rem;
}

#title-content h1 {
  font-size: 1.5em;
  display: inline;
  font-weight: 500;
}

body{
  margin: auto;
}

#map { 
  position: absolute;
  left:0px; right:0px; top:7.5vh; bottom:0px;
  /* height: 500px; */
  width: 100%;
  height: 92.5vh;
  /* top:0;
  bottom:0; */
  z-index: -1;
  
}

.overlay {
  height: 90%;
  position: relative;
}

#search-bar {
  position: absolute;
  top: 1vh; 
  left: 5vh;
  background-color: transparent;
  border-radius: 10px;

}

button#data-refresh-btn {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%);
  z-index: 10;
}

div#bottom-right-btn-group {
  position: absolute;
  right: 10px;
  top: 85vh;
  z-index: 10;
}

button.btn-primary {
  background: linear-gradient(to right, rgb(232, 0, 50), rgb(255, 75, 43));
  color: #fff;
  border: 1px solid #888;
}

button.btn-secondary {
  background-color: #575151;
  color: #fff;
}

.pure-button-hover, .pure-button:hover {
  background-image: none;
  background: linear-gradient(to right, rgb(232, 0, 50), rgb(255, 75, 43));
}

.pure-button:disabled {
  background: #ccc;
  color: #999;
  opacity: 1;
  pointer-events: all;
}

.hamburger {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  border-radius: 2px;
}

#option-menu {
  z-index: 10;
  position: absolute;
  display: none;
  border: 1px solid #fff;
  border-radius: 2px;
  width: 250px;
  
  top: 10px;
  right: 10px;
  background-color: #333;
  color: #e8e8e8;
}

div#menu-header {
  position: relative;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#menu-header h4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

i#menu-close-btn {
  position: absolute;
  top: 55%;
  right: 10px;
  font-size: 1.6em;
  transform: translateY(-50%);
  cursor: pointer;
}

#menu-body {
  padding: .5rem 1rem;
  height: 610px;
  overflow: scroll;
  position: relative;
}

#menu-body .menu-section {
  margin-top: 1rem;
}

.menu-section h5 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid;
  margin-bottom: 0.75rem;
}

.menu-section input {
  margin: .5rem 0;
  color: black;
}

.menu-section label.pure-checkbox {
  margin: .25rem 0;
}

.menu-section input[type=checkbox] {
  margin-right: .5rem;
}

#menu-body-bottom-gradient {
  width: 100%;
  height: 20px;
  background: linear-gradient(to top, hsla(0, 0%, 20%, 1), hsla(0, 0%, 20%, 0));
  position: absolute;
  bottom: 0;
  z-index: 100;
}

.hide {
  display: none;
}

section.modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

div.modal-background {
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 20%, .7);
  position: relative;
  cursor: pointer;
}

div.modal-container {
  height: 500px;
  width: 90%;
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #333;

  z-index: 10000;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #e8e8e8;
  overflow: scroll;
  cursor: default;
}

div.modal-header {
  position: relative;
  height: 50px;
  width: 100%;
  overflow: scroll;
  padding: 0 1rem;
  background: linear-gradient(to right, rgb(232, 0, 50), rgb(255, 75, 43));
  color: #fff;
  border-bottom: 1px solid #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header i.fa-times {
  position: absolute;
  right: .5rem;
  top: 55%;
  transform: translateY(-50%);
  font-size: 1.5em;
  cursor: pointer;
}

.modal-header h2 {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.modal-body {
  padding: 0 2rem 2rem;
}

.modal-body h3 {
  margin: 2rem 0 .75rem;
}

.modal-body p {
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.modal-body a {
  color: #e8e8e8;
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem;
  display: inline-block;
}

.modal-body a:hover {
  color: rgb(255, 75, 43);
  border-bottom: 2px solid rgb(255, 75, 43);
 
}

.modal-img {
  margin: 1rem 0;
  width: 70%;
}

/* When modal is active - set this class to everything behind it */
.blur {
  filter: blur(4px);
}

/* Error message */
#error-message {
  position: absolute;
  left: 10px;
  top: 90vh;
  padding: 5px 10px;
  z-index: 10;
  color: white;
  background-color: hsla(0, 0%, 20%, .8);
}



/***** NEW CSS *****/

.login-form {
  background: #333;
  color: #e8e8e8;
}

.login-button {
  background-image: linear-gradient(to right, red , yellow);
}

.singup-form {
  background: #333;
  color: #e8e8e8;
}

.signup-button {
  background-image: linear-gradient(to right, red , yellow);
}