/* apply a natural box layout model to all elements, but allowing components to change */
html,
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sarabun", sans-serif;
}

main {
  height: 100vh;
  position: relative;
}

div#title-container {
  height: 3rem;
  width: 312px;
  background: #333;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 3.4px 3.4px 2.7px rgba(0, 0, 0, 0.022),
    8.7px 8.7px 6.9px rgba(0, 0, 0, 0.031),
    17.7px 17.7px 14.2px rgba(0, 0, 0, 0.039),
    36.5px 36.5px 29.2px rgba(0, 0, 0, 0.048),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  color: #fff;
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  
}

div#title-content {
  align-self: center;
}

#title-content i {
  font-size: 1.5em;
  color: orange;
  margin-right: 0.5rem;
}



#title-content h1 {
  font-size: 1.5em;
  display: inline;
  font-weight: 500;
}

body {
  margin: auto;
}

main {
  height: 100vh;
  width: 100%;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  /* Must be explicitly set to zero for UI to appear on top - DONT DELETE! */
  z-index: 0;
}

#map.pin-drop-mode {
  cursor: url(../img/icons/pin-drop-icon.svg) 20 40, auto; 
}

.leaflet-top .leaflet-control {
  margin-top: 72px;
}

.pure-button {
  border-radius: 5px;
}

#search-bar {
  position: absolute;
  top: 72px;
  left: 56px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  gap: 0;
  flex-wrap: nowrap;
}

input#search-city {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 222px;
}

button#search-btn {
  border: 1px solid #fff;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.5em 0.75em;
}

button#search-btn i {
  font-size: 1.2em;
}

button#data-refresh-btn {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%);
  z-index: 10;
  border: 1px solid #fff;
}

button#data-refresh-btn i {
  margin-right: 0.5rem;
}

div#bottom-right-btn-group {
  position: absolute;
  right: 10px;
  top: 85vh;
  z-index: 10;
}

button.btn-primary {
  background: linear-gradient(to right, rgb(232, 0, 50), rgb(255, 75, 43));
  color: #fff;
  border: 1px solid #888;
}

button.btn-secondary {
  background-color: #575151;
  color: #fff;
}

button.btn-tertiary {
  background-color: #333;
  border: 1px solid #e8e8e8;
  color: #e8e8e8;
}

.pure-button-hover,
.pure-button:hover {
  background-image: none;
  background: linear-gradient(to right, rgb(232, 0, 50), rgb(255, 75, 43));
}

.pure-button:disabled {
  background: #ccc;
  color: #999;
  opacity: 1;
  pointer-events: all;
}



/**** USER LOGIN/LOGOUT UI ****/

button#login-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 38px;
  width: 38px;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
}

#login-btn i {
  align-self: center;
}

div#user-ui-container {
  width: 300px;
  position: absolute;
  top: 10px;
  right: 64px;
}

div#dynamic-form-container {
  position: absolute;
  top: 45px;
  width: 100%;
  min-height: 80px;
  background-color: #333;
  border: 1px solid #fff;
  /* padding: 1rem; */
  border-radius: 5px;
  display: none;
}

#dynamic-form-container > .pure-form {
  border-radius: 5px;
}

#dynamic-form-container .pure-form fieldset {
  padding: 1rem 1rem 2rem;
}

div.user-form-header {
  position: relative;
  height: 40px;
  width: 100%;
  overflow: auto;
  padding: 0 1rem;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.user-form-header h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pure-form-stacked input, .pure-form-stacked textarea {
  margin-bottom: .75rem !important;
  color: #111 !important;
}

.pure-form-message {
  color: #e8e8e8;
  text-align: center;
}

.pure-form-message a {
  color:  #ff6e4d;
  font-weight: 700;
}

.login-form, .signup-form {
  background: #333;
  color: #e8e8e8;
  position: absolute;
  width: 100%;
}

.login-form input, .signup-form input {
  width: 100% !important;
}

.new-event-form {
  padding-top: 1.5rem;
}

.new-event-form input:nth-of-type(1) {
  width: 387px !important;
}

.new-event-form label {
  margin-top: 1rem;
}

.new-event-form label:nth-of-type(1) {
  margin-top: 0;
}

.login-button, .signup-button, .new-event-submit-button {
  background-color: rgb(255, 75, 43);
  width: 100%;
  border: 1px solid #fff;
  margin: .5rem 0 2rem;
}

.new-event-submit-button {
  width: 184px;
  margin-bottom: 0;
}

/* logout button */
.logout-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}



/***** FORM DISPLAY STYLES *****/
.login-form {
  display: block;
}

.signup-form {
  display: none;
}

/***** LAYERS BUTTON & OPTIONS MENU UI *****/

.layers-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  border: 1px solid #fff;
  border-radius: 5px;
}

#option-menu {
  z-index: 10;
  position: absolute;
  border-left: 1px solid #fff;
  width: 300px;
  right: 0;
  top: 0;
  display: none;
  background-color: #333;
  color: #e8e8e8;
  height: 100vh;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}

#option-menu::-webkit-scrollbar { 
  width: 0 !important;
  display: none;
}

div#menu-header {
  position: relative;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#menu-header h4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

i#menu-close-btn {
  position: absolute;
  top: 55%;
  right: 10px;
  font-size: 1.6em;
  transform: translateY(-50%);
  cursor: pointer;
}

#menu-body {
  padding: 0.5rem 1rem;
}

#menu-body .menu-section {
  margin-top: 1rem;
}

.menu-section h5 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid;
  margin-bottom: 0.75rem;
}

.menu-section input {
  margin: 0.5rem 0;
  color: black;
}

.menu-section label.pure-checkbox {
  margin: 0.25rem 0;
}

.menu-section input[type="checkbox"] {
  margin-right: 0.5rem;
  accent-color: rgb(255, 75, 43);
}

#menu-body-bottom-gradient {
  width: 100%;
  height: 20px;
  background: linear-gradient(to top, hsla(0, 0%, 20%, 1), hsla(0, 0%, 20%, 0));
  position: absolute;
  bottom: 0;
  z-index: 100;
}

.hide {
  display: none;
}

section.modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

div.modal-background {
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 20%, 0.7);
  position: relative;
  cursor: pointer;
}

div.modal-container {
  height: 500px;
  width: 90%;
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;

  z-index: 10000;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #e8e8e8;
  overflow: auto;
  cursor: default;
}

div.modal-header {
  position: relative;
  height: 50px;
  width: 100%;
  overflow: auto;
  padding: 0 1rem;
  background: #333;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header i.fa-times, .user-form-header i.fa-times {
  position: absolute;
  right: 1rem;
  top: 55%;
  transform: translateY(-50%);
  font-size: 1.5em;
  cursor: pointer;
}

.modal-header h2 {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.modal-body {
  padding: 0 2rem 2rem;
}

.modal-body h3 {
  margin: 2rem 0 0.75rem;
}

.modal-body p {
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.modal-body a {
  color: #e8e8e8;
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem;
  display: inline-block;
}

.modal-body a:hover {
  color: rgb(255, 75, 43);
  border-bottom: 2px solid rgb(255, 75, 43);
}

.modal-img {
  margin: 1rem 0;
  width: 70%;
}

/* When modal is active - set this class to everything behind it */
.blur {
  filter: blur(4px);
}

/* Error message */
#error-message {
  position: absolute;
  left: 10px;
  bottom: 0;
  padding: 5px 10px;
  z-index: 5;
  color: white;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 14px;
  background-color: hsla(0, 0%, 20%, 0.8);
}

.leaflet-right {
  right: 10px;
}

.leaflet-control-attribution {
    background-color: hsla(0, 0%, 20%, 0.8) !important;
    color: #fff;
    padding: 0 .5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: .25rem .5rem;
}

.leaflet-control-attribution a {
  color: #FFA500;
  text-decoration: underline;
}

/***** NEW CSS *****/

/*new event */
button#new-event-btn {
  position: absolute;
  top: 10px;
  right: 106px;
  height: 38px;
  width: 38px;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
}

#new-event-btn i {
  align-self: center;
}

#addl-info button {
  background-color: transparent;
  border: none;
  display: block;
  margin: 1.25rem 0;
  font-size: 1em;
  transition: padding .3s, color .3s, border .3s;
}

#addl-info button:hover {
  color: rgb(255, 75, 43);
  border-bottom: 1px solid rgb(255, 75, 43);
  padding-bottom: .25rem;
}

.addl-btn i {
  margin-right: .75rem;
}

#help-btn i {
  margin-right: .9rem;
}

/***** Media Queries *****/

@media screen and (max-width:790px) {
  #title-content h1 { 
   display:none;
  }
  div#title-container {
    width: 70px;
  }

  #title-content i {
    margin-right: 0;
  }
}

@media screen and (max-width:640px) {
  #error-message {
    left: 0px;
    bottom: 25px;
    padding: 5px 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
  }
}