.login-form {
  background: #333;
  color: #e8e8e8;
}

.login-button {
  background-image: linear-gradient(to right, red , yellow);
}

.singup-form {
  background: #333;
  color: #e8e8e8;
}

.signup-button {
  background-image: linear-gradient(to right, red , yellow);
}